.react-calendar {
    border: none;
    box-shadow: none; 
  }
  
  .react-calendar__tile {
    border: none; 
  }
  
  .react-calendar__month-view__weekdays {
    border-bottom: none;
  }
  
  .react-calendar__navigation button {
    border: none; 
  }
  